.main {
    background: #fff;
    justify-content: flex-start;
}

.h1 {
    margin-top: 50px;
    padding-bottom: 30px;
    margin-bottom: 0;
    border-bottom: 1px solid rgb(var(--gray-300-rgb));
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(var(--gray-300-rgb));
}

.image {
    flex-basis: 50px;
    margin-right: 20px;
}

.info {
    display: flex;
    flex: 1;
    justify-content: space-between;
}


@media (max-width: 640px) {
    .info {
        flex-direction: column;
    }
}

.name {
    line-height: 160%;
    font-weight: 500;
}

.email {
    color: rgb(var(--gray-color-rgb));
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgb(var(--foreground-rgb));
    border:1px solid rgb(var(--gray-300-rgb));
    font-size: 18px;
    text-transform: uppercase;
}

.buttons {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
