.main {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem;
}

.link {
    border-bottom: 2px dotted #FEFF80;
}

.primaryBtn {
    background: #000000;
}

.h2 {
    font-size: 1.88rem;
    font-weight: normal;
    margin-bottom: 25px;
}

.danger {
    padding-top: 20px;
    color: red;
}
