.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
}

.link {
  border-bottom: 2px dotted #FEFF80;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.primaryBtn {
  background: #000000;
}

.h2 {
  font-size: 1.88rem;
  font-weight: normal;
  margin-bottom: 25px;
}

@media (prefers-color-scheme: dark) {

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
