.title {
    padding-top: 50px;
    margin-bottom: 30px;
}

.intro {
    line-height: 150%;
}

.intro p {
    margin-bottom: 10px;
}

.link {
    border-bottom: 2px dotted #636363;
}

.primaryBtn {
    background: #000000;
}

.h2 {
    font-size: 1.88rem;
    font-weight: normal;
    margin-bottom: 25px;
}

.danger {
    padding-top: 20px;
    color: red;
}
